/*Reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--backgroud-color);
}

img {
  width: 100%;
  height: auto;
}
a {
  text-decoration: none;
}

/*Variables*/

:root {
  --backgroud-color: #000000;
  --text-color: #ffffff;
  --title-color: #ffffff;
}

/*Base*/

body {
  font: 400 1rem 'Montserrat', sans-serif;
  color: var(--text-color);
  -webkit-font-smoothing: antialiased;
}
h1 {
  font: 900 2rem 'Montserrat', sans-serif;
  color: var(--title-color);
  -webkit-font-smoothing: auto;
}
/*Layout*/
nav {
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1.5625rem;
}
.logo {
  font: 700 2rem 'Montserrat', sans-serif;
  color: var(--title-color);
}
.container {
  width: auto;
  margin-left: 1.5625rem;
  margin-right: 1.5625rem;
}

.section {
  padding: 1.625rem 0;
}
/*Gap on menus for desktop
nav .menu {
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: 1rem;
}
*/
/*Home*/

#home h1 {
  margin-top: 7.25rem;
}
